<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-Shortener-Microservice</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  </head>
  <body>
    <h1 class="title">URL Shortener Microservice</h1>
    <div class="container">
      <div class="creation">
        <div class="about-creation">
          <h3>Short URL Creation</h3>
          <p>Example:</p>
          <code>POST url/api/shorturl - https://www.google.com</code>
        </div>

        <form action="/api/shorturl" method="post">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url-input">URL:</label>
            <input type="text" id="url-input" name="url" placeholder="https://github.com/PabloPicas0" size="23" />
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>

      <div class="usage">
        <div class="usage-box">
          <h3>Valid URL</h3>
          <p>Example Usage:</p>
          <code>url/api/shorturl/3</code>
          <p>Will Redirect to:</p>
          <code>https://github.com/PabloPicas0</code>
        </div>

        <div class="usage-box">
          <h3>Entering invalid URL</h3>
          <p>Example Usage:</p>
          <code>www.example.com</code>
          <p>Example output:</p>
          <code>{ error: 'invalid url' }</code>
        </div>
      </div>
    </div>
  </body>
</html>
